<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" 
	href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Your Personal Meeting Agenda</h1>
	<p th:text="${'Welcome back ' + session.user.username + '!'}">Welcome back guest!</p>
	<div th:if="${userMeetings.size() > 0}">
	<p>This is a list of the meetings organized by you: </p>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Date and time</th>
					<th>Duration</th>
				</tr>	
			</thead>
			<tbody>
				<tr th:each="m : ${userMeetings}">
					<td th:text="${m.title}"></td>
					<td th:text="${m.getDate}"></td>
					<td th:text="${m.getDuration} + ' minutes'"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${userMeetings.size() == 0}"> You have not organized any meeting yet </div>
	
	
	<div th:if="${userInvitations.size() > 0}">
	<p>This is a list of the meetings you were invited to: </p>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Date and time</th>
					<th>Duration</th>
					<th>Organizer</th>
				</tr>	
			</thead>
			<tbody>
				<tr th:each="i : ${userInvitations}">
					<td th:text="${i.title}"></td>
					<td th:text="${i.meetingDate}"></td>
					<td th:text="${i.meetingDuration + ' minutes'}"></td>
					<td th:text="${i.organizerName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${userInvitations.size() == 0}"> You were not invited to any meeting yet</div>
	<div>
		<p>Complete the form below to create a new meeting</p>
		<form action="#" th:action="@{/SendMeetingData}" method="post">
			<fieldset>
				<p>
					Title: <input type="text" name="title" required />
				</p>
				<p>
					Date and starting time: <input type="datetime-local" name="date"
						th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}"
						placeholder="yyyy-MM-dd" required/>
				</p>
				<p>
					Duration (in minutes): <input type="number" name="duration" required />
				</p>
				<p th:text="${errorDate}"></p><!-- if an error occurred -->
				<input type="submit" value="Submit">
				</fieldset>
		</form>
	</div>
	
</body>
</html>