<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Participants</title>
</head>
<body>
	<div>
		<p>Complete the form below to invite participants to your meeting</p>
		<form action="#" th:action="@{/CreateMeeting}" method="post">
			<fieldset>
				<div th:if="${users.size() > 0}">
					<h3>Registered users:</h3>
					<p th:each="u : ${users}">
						<input type="checkbox" name="user_id" th:value="${u.getID()}" th:checked="${selectedUsersID.contains(u.getID())}"/>
						<label th:text="${u.getUserName()}">Ale</label>
					</p>
					<p>
						<input type="hidden" name="title" th:value="${meeting.title}"/>
						<input type="hidden" name="organizerId" th:value="${meeting.getOrganizerId()}"/>
						<input type="hidden" name="organizerName" th:value="${meeting.getOrganizerName()}"/>
						<input type="hidden" name="date" th:value="${meeting.getDate()}"/>
						<input type="hidden" name="duration" th:value="${meeting.getDuration()}"/>
						<input type="hidden" name="attemptCounter" th:value="${attempts}"/> <!-- Number of meeting creation attempts -->
					</p>
					<input type="submit" value="Submit">
					<p th:text="${errorMsg}"></p>
				</div>
				<div th:if="${users.size() == 0}">
					<p>No users registered</p>
					<a href="home.html" th:href="@{/HomePage}"> Go back to home page </a>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>